$black: #000000;
$white: #FFFFFF;
$background: #F0F2F5;

$softBlue: #e7ecf1;
$lightBlue: #1f84f7;
$blue: #0571ED;
$mediumBlue: #0366d6;

$lightGrey: #e8e8e8;
$lightMediumGrey: #686868;
$grey: #343537;
$darkGrey: #272526;


$lightRed: #ca4343;
$red: #ca0b0b;
