@import '../../styles/colors';
@import '../../styles/utils';

.modal-container {
  @extend .rounded-corner;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 900px;
  background-color: $white;
  padding: 1rem;
  
  &:focus-visible { outline: none; }

  &.small {
    max-width: 450px;
  }

  .btn-close {
    position: absolute;
    right: 0.7rem;
    top: 0.7rem;
    border: 0;
    margin: 0;
    background-color: initial;
    color: $darkGrey;
    border-radius: 0 0.5rem 0;
    cursor: pointer;

    &:hover {
      color: $blue
    }
  }
}